.Kai {
  text-align: center;
}

.KAI-IMG {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  width: 50%;
}


.KAI-IMG-POCKET-SKIDY {
  margin-top: 130px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: 50%;
}

@media screen and (min-width: 609px) {
  .KAI-P {
    font-family: Arial Narrow;
    max-width: 650px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 500;
  }
}

@media screen and (max-width: 600px) {
  .KAI-P {
    font-family: Arial Narrow;
    max-width: 175px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 500;
  }
}