{% extends "base.html" %} {% block content %} {% endblock %} {% block main %}
<meta content="Twitch Pocket watching" property="og:title" />
<meta content="Site Description" property="og:description" />
<meta content="https://itsjaylen.com/" property="og:url" />
<meta content="https://embed.com/embedimage.png" property="og:image" />
<meta content="#43B581" data-react-helmet="true" name="theme-color" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pocket-watch.css') }}"
/>
<div class="Kai">
  <p>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#kai"
      role="button"
      aria-expanded="false"
      aria-controls="multiCollapseExample1"
      >Kai Cenat</a
    >
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="kai">
        <div class="card card-body">
          <img
            class="KAI-IMG"
            src="/static/images/kai-cenat.png"
            alt="..."
          />
          <p class="KAI-P">
            <b>Kai Cenat channels of revenue</b><br />
            <a
              href="https://www.instagram.com/kaicenat/"
              class="text-reset fw-bold target="
              >instagram.com/kaicenat</a
            ><br />
            <a
              href="https://www.twitch.tv/kaicenat/"
              class="text-reset fw-bold target="
              >twitch.tv/kaicenat</a
            ><br />
            <a>Twitch Sub count <b>{{kai_subs}}</b></a
            ><br />
            <a
              href="https://www.youtube.com/c/KaiCenat/"
              class="text-reset fw-bold target="
              >youtube.com/c/KaiCenat</a
            ><br />
            <a
              href="https://www.youtube.com/channel/UCvCfpQXRXdJdL07pzTIA6Cw/"
              class="text-reset fw-bold target="
              >youtube.com/c/KaiCenat-Live</a
            ><br />
            <a
              href="https://www.youtube.com/channel/UCJbYdyufHR-cxOuY96KIoqA/"
              class="text-reset fw-bold target="
              >youtube.com/c/AMP</a
            ><br />
            Kai Cenat is a twitch streamer who started streaming on twitch back
            on Feb. 2, 2021, in his New York apartment. Over the short time in
            streaming, he's gone from living in a dirty apartment with rats to a
            multi-million dollar mansion on a hill in Georgia.<br />
            <br />
            Kai has been one of the fastest-growing black streamers in the past
            year. This has come with many many subs and donations being made to
            him. This man is so rich it doesn't even make sense. He is always
            talking about his broke when the fact that he has 90k subs. Just at
            a first look if you do <b>90,000 x 5</b> it's <b>$450,000</b> he has
            made not including taxes and the twitch cut but we will be breaking
            this down and getting the bottom of this.
          </p>
          <h3 class="KAI-IMG-POCKET-SKIDY">Skidy calculations</h3>
          <img
            class="KAI-IMG-POCKET-SKIDY"
            src="/static/images/Skidy-pocketwatch.png"
            alt="..."
          />
        </div>
        <div class="text-center"></div>
      </div>
    </div>
  </div>
</div>

<div class="rage">
  <p>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#rage"
      role="button"
      aria-expanded="false"
      aria-controls="multiCollapseExample1"
      >Yourrage Gaming</a
    >
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="rage">
        <div class="card card-body">Place holder</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
