{% extends "base.html" %} {% block content %} {% endblock %} {% block main %}
<h1>Project Page</h1>
{% block title %}<title>Projects</title>{% endblock %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/projects.css') }}"
/>
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>

<div class="card">
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">This website </h5>
    <p class="card-text">Integrate github website</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
</div>

{% endblock %}
