<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <! -- #TODO Put it in its on css file -->
    <style>
      .container {
        width: 50%;
        margin: 64px auto 0;
      }

      .custom-navbar-color {
        background-color: blue;
      }

      .fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 998;
      }
    </style>
  </head>
  <body>
    <nav class="fixed">
      <div class="nav-wrapper custom-navbar-color">
        <a href="#" class="brand-logo center">My Website</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/auth/register">Register</a></li>
          <li><a href="/auth/login">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="input-field col s12">
              {{ form.username(class='validate') }}
            <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.password(class='validate') }}
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >
                Login
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col s12">
            <p>
              Don't have an account? <a href="/auth/register">Create one</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
