<html>

<style>
    /* Style the navbar */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: white;
      padding: 10px 20px;
    }
  
    /* Style the navbar links */
    .navbar a {
      color: white;
      text-decoration: none;
      font-size: 16px;
    }
  </style>
  <head>
  </head>
  <body>
    <nav class="navbar">
        <!-- Navbar brand -->
        <a href="#">Brand</a>
        <!-- Navbar links -->
        <div>
            <h1>Logged in as {{ current_user}}</h1>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </nav>
  </body>
</html>